@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-link {
    text-decoration: underline;
  }

  .highlight-link {
    background-color: #00eeff; 
    padding: 0.2em;
    text-decoration: none;
    color: inherit; 
  }